docker/kafka1/
docker/zookeeper1/
docker/api-secret.yml
certs/
scripts/localToICP
scripts/setenv.sh
site/
itg-tests/es-it/*.pem
itg-tests/**/*.pem
itg-tests/kafka/__pycache__
postgres-data/
docker/*.logs
docker/kafka-connect/config/worker-standalone-ies.properties
docker/kafka-connect/connectors/*.jar
docker/kafka-connect/es-cert.jks
*.pyc
.DS_Store
~$*.pptx