if [[ $# -eq 0 ]];then
  kcenv="LOCAL"
else
  kcenv=$1
fi

case "$kcenv" in
   IBMCLOUD)
        export KAFKA_BROKERS=kafka03-prod02.messagehub.services.us-south.bluemix.net:9093,kafka01-prod02.messagehub.services.us-south.bluemix.net:9093,kafka02-prod02.messagehub.services.us-south.bluemix.net:9093,kafka04-prod02.messagehub.services.us-south.bluemix.net:9093,kafka05-prod02.messagehub.services.us-south.bluemix.net:9093
        export KAFKA_APIKEY=<>
        export KAFKA_ADMIN_URL= "https://kafka-admin-prod02.messagehub.services.us-south.bluemix.net:443"
        export KAFKA_ENV=IBMCLOUD
        export CA_LOCATION="./Certificates.pem"
        export POSTGRESQL_URL="jdbc:postgresql://<>.databases.appdomain.cloud:<>/ibmclouddb?sslmode=verify-full&sslfactory=org.postgresql.ssl.NonValidatingFactory"
        export POSTGRESQL_USER="ibm_cloud_<>"
        export POSTGRESQL_PWD="<>"
        export POSTGRESQL_CA_PEM="$(cat ./postgresql.crt)"
        export TRUSTSTORE_PWD="changeit"
        export IC_POSTGRES_SERV="Green-DB-PostgreSQL"
        ;;
   ICP)
        export KAFKA_BROKERS=<>
        export KAFKA_ENV=ICP
        export KAFKA_APIKEY=<>
        export CA_LOCATION="es-cert.pem"
    ;;
   LOCAL)
        export KAFKA_BROKERS=kafka1:9092
        export KAFKA_ENV="LOCAL"
        export ORDER_CMD_MS=ordercmd:10080
        export ORDER_QUERY_MS=orderquery:11080
        export CONTAINER_SPRING_MS="containerkstreams:12081"
        export POSTGRESQL_URL="jdbc:postgresql://postgresql1:5432/postgres"
        export POSTGRESQL_USER="postgres"
        export POSTGRESQL_PWD="supersecret"
   ;;
esac
